<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="styles/styles.css">
    
    <title>Pets</title>
    
</head>
<body>
    <h1>Pets Page</h1>
    <img class="pets" src="images/group-of-pets.jpg" alt="Group of Pets Homepage Pic">
    
    <p>For information about dogs, please go here:
        <a href="https://en.wikipedia.org/wiki/Dog">wikipedia.org/wiki/Dog</a>.
    </p>
</body>

</html>